<?xml version="1.0" encoding="utf-8"?>
<plugin id="cordova-plugin-security-hardening"
        version="1.0.1"
        xmlns="http://apache.org/cordova/ns/plugins"
        xmlns:android="http://schemas.android.com/apk/res/android">

    <name>CertCheck</name>

    <!-- JS bridge -->
    <js-module src="www/certcheck.js" name="CertCheck">
        <clobbers target="CertCheck" />
    </js-module>

    <!-- FEATURE mapping harus di luar blok platform -->
    <feature name="CertCheck">
        <param name="android-package" value="com.proint.security.CertCheck" />
        <param name="ios-package" value="CertCheck" />
    </feature>

    <!-- Android files -->
    <platform name="android">
        <source-file src="src/android/CertCheck.java" target-dir="src/com/proint/security" />
    </platform>

    <!-- iOS files -->
    <platform name="ios">
        <source-file src="src/ios/CertCheck.m" />
        <source-file src="src/ios/CertCheck.h" />
    </platform>

</plugin>
